---
title: Главная
layout: default
---

{% include sections/banner.html %}
{% include sections/works.html container=true %}

<section class="py-32 relative bg-cover after:bg-black after:absolute after:w-full after:h-full after:left-0 after:top-0 after:bg-opacity-60" style="background-image: url({{ 'img/images.jpg' | relative_url }});">
	<div class="text-center relative z-[1]">
		{% include 
		components/button.html 
		classes="btn-accent !px-20" 
		text="Заказать себе" 
		click='alert("Заказать&nbsp;себе")'
		%}
	</div>
</section>

<section class="py-20 text-lg">
	<div class="container flex flex-col gap-y-5">
		<p>Компания <strong>«Металлвсамаре»</strong> изготавливает надежные металлические конструкции. Такие конструкции не только выполняют свои прямые функции, но и являются элементом дизайна, украшая интерьер и наружные и внутренние части здания.</p>
		<p>Несмотря на огромное конструкционное разнообразие, абсолютная эксплуатационная безопасность, надежность и привлекательный внешний вид изделий обусловлены использованием качественного металла, современных антикоррозийных материалов, наличием на производстве самого современного технологического оборудования.</p>
	</div>
</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
