<section class="banner md:h-full" id="banner">
	<div class="banner-wrapper grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-0">

		<div class="banner-sliders lg:col-span-2 xl:col-span-3 2xl:col-span-4 relative bg-gray-800 overflow-hidden">

			<div class="banner-slider swiper h-full">
				<div class="swiper-wrapper">

					<div class="banner-slide swiper-slide">
						<div class="banner-image-slide-bg h-full bg-cover bg-right swiper-lazy" data-background="{{ 'img/banners/1.jpg' | relative_url }}">
							<div class="swiper-lazy-preloader"></div>
						</div>
						<div  class="banner-text absolute top-6 bottom-8 sm:top-10 sm:bottom-10 top-6 bottom-8 sm:top-10 sm:bottom-10 left-0 right-0 z-10 text-white pr-5">
							<h2 class="text-2xl sm:text-4xl xl:text-6xl font-bold mb-3 pl-10 !leading-[1.3]">Когда другие отдыхают, <br class="hidden lg:block">мы работаем!</h2>
							<p class="text-xl xl:text-3xl pl-10">Не стесняйтесь <a href="tel:123" class="text-accent">звонить</a><br class="block sm:hidden"> нам в выходные</p>
						</div>
					</div>

				</div>

			</div>
					
			<div class="swiper-pagination"></div>

			<div class="swiper-button-prev z-20"></div>
			<div class="swiper-button-next z-20"></div>

		</div>

		<div class="banner-form bg-white flex flex-wrap justify-between lg:justify-center lg:flex-col shadow-2xl lg:shadow-none px-5 mx-5 md:mx-0 md:px-10 lg:px-6 py-8 lg:py-3 mt-5 md:mt-0">

			<div class="w-full">
				<h3 class="text-xl md:text-2xl font-bold mb-2">Есть вопросы?</h3>
				<p class=" text-base font-normal md:text-lg">Оставьте свои данные и мы свяжемся с Вами!</p>
			</div>

			<form class="w-full mt-5 flex flex-wrap justify-between lg:justify-start lg:flex-col">

				<div class="w-full flex flex-wrap items-end justify-between lg:block">

					<label class="form-group w-full md:w-[32%] lg:w-full block text-base font-medium mb-5 md:mb-0 lg:mb-4">
						Имя
						<input type="text" class="text-base px-5 py-3 border border-gray-300 block rounded-0 outline-none w-full mt-2 duration-300 placeholder-gray-600::placeholder focus:border-deep" placeholder="Ваше имя" required>
					</label>
					<label class="form-group w-full md:w-[32%] lg:w-full block text-base font-medium mb-5 md:mb-0 lg:mb-6">
						Телефон
						<input type="text" class="text-base px-5 py-3 border border-gray-300 block rounded-0 outline-none w-full mt-2 duration-300 placeholder-gray-600::placeholder focus:border-deep" placeholder="+7 (999) 123-45-67" required>
					</label>

					<button class="btn btn-accent w-full">Отправить</button>

					<label class="form-group block text-xs md:text-sm mt-5 w-full">
						<input type="checkbox" checked required>
						Согласен на <a href="#" class="underline transition-all duration-700 hover:no-underline">обработку персональных данных</a> 
					</label>

				</div>

			</form>

		</div>

	</div>
</section>