{% assign data = include.data %}
{% assign title = include.title %}
{% assign subtitle = include.subtitle %}
{% assign breadcrumbs = include.breadcrumbs %}
{% assign img = include.img %}
{% assign h1 = include.h1 %}
{% if data | size > 0 or title != ''%}
<section class="banner md:h-full" id="banner">
	<div class="banner-wrapper grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-0">

		<div class="banner-sliders lg:col-span-2 xl:col-span-3 2xl:col-span-4 relative bg-gray-800 overflow-hidden">
			{% if breadcrumbs %}
			<div class="absolute z-10 px-10 text-white w-full top-6">
				{% include breadcrumbs.html color="text-white" stroke="#ffffff" %}			
			</div>
			{% endif %}
			<div class="banner-slider swiper h-full">
				<div class="swiper-wrapper">
					{% if data %}
					{% for slide in data %}
					<div class="banner-slide swiper-slide">
						<div class="banner-image-slide-bg h-full bg-cover bg-right swiper-lazy" data-background="{{ slide.img | relative_url }}">
							<div class="swiper-lazy-preloader"></div>
						</div>
						<div  class="banner-text absolute {% if breadcrumbs %}top-14{% else %}top-6 sm:top-10{% endif %} bottom-8 sm:bottom-10 left-0 right-0 z-10 text-white pr-5">
							{% if h1 %}
							<h1 class="text-2xl sm:text-4xl xl:text-6xl font-bold mb-3 pl-10 !leading-[1.3]">{{ slide.title }}</h1>
							{% else %}
							<h2 class="text-2xl sm:text-4xl xl:text-6xl font-bold mb-3 pl-10 !leading-[1.3]">{{ slide.title }}</h2>
							{% endif %}
							{% if slide.subtitle %}
							<p class="text-xl xl:text-3xl pl-10">{{ slide.subtitle }}</p>
							{% endif %}
						</div>
					</div>
					{% endfor %}
					{% else %}
					<div class="banner-slide swiper-slide">
						<div class="banner-image-slide-bg h-full bg-cover bg-right swiper-lazy" data-background="{{ img | relative_url }}">
							<div class="swiper-lazy-preloader"></div>
						</div>
						<div  class="banner-text absolute {% if breadcrumbs %}top-14{% else %}top-6 sm:top-10{% endif %} bottom-8 sm:bottom-10 left-0 right-0 z-10 text-white pr-5">
							{% if h1 %}
							<h1 class="text-2xl sm:text-4xl xl:text-6xl font-bold mb-3 pl-10 !leading-[1.3]">{{ title }}</h1>
							{% else %}
							<h2 class="text-2xl sm:text-4xl xl:text-6xl font-bold mb-3 pl-10 !leading-[1.3]">{{ title }}</h2>
							{% endif %}
							{% if subtitle %}
							<p class="text-xl xl:text-3xl pl-10">{{ subtitle }}</p>
							{% endif %}
						</div>
					</div>
					{% endif %}

				</div>

			</div>
					
			<div class="swiper-pagination"></div>

			<div class="swiper-button-prev z-20"></div>
			<div class="swiper-button-next z-20"></div>

		</div>

		<div class="banner-form bg-white flex flex-wrap justify-between lg:justify-center lg:flex-col shadow-2xl lg:shadow-none px-5 mx-5 md:mx-0 md:px-10 lg:px-6 py-8 lg:py-3 mt-5 md:mt-0">

			<div class="w-full">
				<h2 class="text-xl md:text-2xl font-bold mb-2">Есть вопросы?</h2>
				<p class=" text-base font-normal md:text-lg">Оставьте свои данные и мы свяжемся с Вами!</p>
			</div>

			<form class="w-full mt-5 flex flex-wrap justify-between lg:justify-start lg:flex-col">

				<div class="w-full flex flex-wrap items-end justify-between lg:block">

					<input type="email" tabindex="-1" name="email" placeholder="mail@example.com" class="h-0 opacity-0 absolute">

					<label class="form-group w-full md:w-[32%] lg:w-full block text-base font-medium mb-5 md:mb-0 lg:mb-4">
						Имя
						<input type="text" class="text-base px-5 py-3 border border-gray-300 block rounded-0 outline-none w-full mt-2 duration-300 placeholder-gray-600::placeholder focus:border-deep" name="name" placeholder="Ваше имя">
					</label>
					<label class="form-group w-full md:w-[32%] lg:w-full block text-base font-medium mb-5 md:mb-0 lg:mb-6">
						Телефон
						<div class="form-group required-field col-span-3 md:col-span-1" id="phone">
							<input type="text" class="text-base px-5 py-3 border border-gray-300 block rounded-0 outline-none w-full mt-2 duration-300 placeholder-gray-600::placeholder focus:border-deep" name="phone" placeholder="Ваш телефон">
							<small class="block text-left text-xs text-accent mt-1 font-normal hidden">Поле обязательно для заполнения</small>
						</div>
					</label>

					<input type="checkbox" name="subscribe" value="1" class="h-0 opacity-0 absolute">
					{% include components/agree.html borderClass="border-black before:bg-black flex-shrink-0" %}

					<button class="btn btn-accent w-full md:w-[32%] lg:w-full mt-5">Отправить</button>

				</div>

			</form>

		</div>

	</div>
</section>
{% endif %}