{% assign container = include.container %}
{% assign data = include.data %}
{% assign limit = include.limit %}
{% assign h1 = include.h1 %}
{% assign size = data | size %}
{% assign splitUrl = page.url | split: '/' %}
{% if splitUrl %}
	{% assign url = splitUrl[1] %}
{% endif %}
{% case url %}
{% when 'lestnicy' %}
{% assign title = "Эксперты по металлокаркасам лестниц в Самаре" %}
{% assign subtitle = "Мы выполним для Вас каркас лестницы любой сложности в кратчайшие сроки!" %}
{% when 'navesy' %}
{% assign title = "Эксперты по металлическим навесам в Самаре" %}
{% assign subtitle = "Мы разработаем, изготовим и смонтируем Ваш идеальный навес в кратчайшие сроки!" %}
{% when 'zabory' %}
{% assign title = "Эксперты по металлическим заборам в Самаре" %}
{% assign subtitle = "Огородим любую территорию забором от проф.листа до кованого в кратчайшие сроки!" %}
{% when 'kovka' %}
{% assign title = "Эксперты по ковке в Самаре" %}
{% assign subtitle = "Мы выполним для Вас любую работу с элементами ковки в кратчайшие сроки!" %}
{% else %}
{% assign title = "Эксперты по металлоконструкциям в Самаре" %}
{% assign subtitle = "Мы выполним для вас работы любой сложности в кратчайшие сроки!" %}
{% endcase %}
{% if size > 0 %}
<section class="works py-20" itemscope itemtype="http://schema.org/Blog">
	{% if title %}
		{% if h1 %}
		<h1 class="text-center font-bold text-2xl md:text-4xl px-4">{{ title }}</h1>
		{% else %}
		<h2 class="text-center font-bold text-2xl md:text-4xl px-4">{{ title }}</h2>
		{% endif %}
	{% endif %}
	{% if subtitle %}
	<p class="section-subtitle text-center px-4 mt-4 md:text-xl" itemprop="description">{{ subtitle }}</p>
	{% endif %}
	{% if container %}
	<div class="container px-0 sm:px-4">
	{% endif %}
	<div class="flex justify-end mt-8 lg:hidden px-4 sm:px-0">
		{% include components/icons/scroll-icon.html %}
	</div>
	<div class="flex lg:grid lg:grid-cols-3 xl:grid-cols-4 gap-3 lg:gap-1 mt-8 overflow-x-scroll lg:overflow-x-auto">
		{% for work in data limit:limit %}
		{% assign catUrl = work.categories | split: ',' | first %}
		{% assign imgDir = 'img/' | append: catUrl | append: '/' | append: work.uid | append: '/' %}
		{% assign photoThumb = imgDir | append: work.photo_thumb %}
		<a
			href="{{site.baseurl}}/{{catUrl}}/{{work.uid}}"
			class="work-item relative overflow-hidden text-white group w-[60%] md:w-[40%] lg:w-auto flex-shrink-0 {% if forloop.first %}ml-4 sm:ml-0{% endif %}{% if forloop.last %}mr-4 sm:mr-0{% endif %}"
			itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting"
		>
			<img itemprop="image" data-src="{{ photoThumb | relative_url }}" alt="{{work.short_title}}" loading="lazy" class="work-img absolute h-full w-full object-cover object-center">
			<span class="work-info absolute w-full h-full left-0 top-0 z-[1] px-5 flex flex-col justify-end lg:translate-y-[70px] transition-all duration-300 lg:group-hover:translate-y-0">
				<time class="text-xs sm:text-base font-light" itemprop="datePublished" datetime="{{work.date}}"></time>
				<h3 class="sm:text-xl mb-5 leading-none" itemprop="headline">{{ work.short_title }}</h3>
				<span class="btn btn-accent !px-5 text-xs md:text-sm mb-6">Подробнее</span>
				<meta itemprop="description" content="{% if work.text %}{{work.text}}{% else %}{{work.title}}{% endif %}" />
				<meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="{{site.url}}/{{catUrl}}/{{work.uid}}"/>
			</span>
		</a>
		{% endfor %}
	</div>
	<!-- <div class="text-center mt-8">
		{% include
		components/button.html
		classes="btn-accent"
		text="Показать еще"
		%}
	</div> -->
	{% if container %}
	</div>
	{% endif %}
</section>
{% endif %}

<script>
	document.addEventListener("DOMContentLoaded", () => {
		function setHeight(items) {
			items.forEach(function(item) {
				let width = item.offsetWidth
				item.style.height = width + 'px';
			})
		}
		const items = document.querySelectorAll('.work-item');
		setHeight(items);
		window.addEventListener('resize', e => {
			setHeight(items);
		})
	});
</script>