.work-item{
	z-index: 1;
	&:hover{
		.work-img{
			transform: scale(1.4) rotate(-5deg);
		}
		&:after{
			@apply bg-opacity-80;
		}
	}
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: all .25s ease-in-out;
		@apply bg-deep bg-opacity-30;
		z-index: 0;
	}
	.btn{
		width: fit-content;
	}
}

.work-img{
	transition: all .25s ease-out;
}