<footer class="site-footer bg-black py-10 lg:py-16 text-white font-light text-opacity-90">
	<div class="container">
		<div class="grid grid-cols-6 gap-y-10">
			<div class="footer-col col-span-6 lg:col-span-2">
				{% include components/header/logo.html %}
				<p class="mt-3 text-sm">Надежные металлические конструкции</p>
				<p class="text-sm mt-5 hidden lg:block">&copy; {{ site.time | date: "%Y"}} «Металлвсамаре»</p>
			</div>
			<div class="footer-col col-span-6 sm:col-span-3 lg:col-span-2">
				<h3 class="text-lg uppercase mb-5">Разделы сайта</h3>
				<ul>
					{% if page.url != '/' %}
					<li>
						<a class="inline-block leading-tight transition-all duration-200 mb-3 hover:underline" href="{{site.baseurl}}/">Главная</a>
					</li>
					{% endif %}
					{% assign categories = site.work-categories | sort: "index" %}
					{% for link in categories %}
					<li>
						<a class="inline-block leading-tight transition-all duration-200 mb-3 hover:underline {% if page.url == link.url %}underline{% endif %}" href="{{site.baseurl}}{{link.url}}">{{link.title}}</a>
					</li>
					{% endfor %}
					<li>
						<a class="inline-block leading-tight transition-all duration-200 hover:underline {% if page.url == link.url %}underline{% endif %}" href="{{site.baseurl}}/policy/">Политика конфиденциальности</a>
					</li>
				</ul>
			</div>
			<div class="footer-col col-span-6 sm:col-span-3 lg:col-span-2">
				<h3 class="text-lg uppercase mb-5">Контакты</h3>
				<div class="mb-5">
					{% for phone in site.phones %}
					{% include 
					components/phone-link.html 
					classes="sm:text-lg mb-2" 
					classesIcon="w-5 h-auto fill-[#fff]" 
					phone=phone 
					%}
					{% endfor %}
				</div>
				<div class="mb-5">
					{% include 
					components/email-link.html 
					classes="sm:text-lg mb-2" 
					classesIcon="w-5 h-auto fill-[#fff]" 
					email=site.email
					%}
				</div>
				<div>
					{% include 
					components/address.html  
					classesIcon="w-5 h-auto fill-[#fff]" 
					address=site.address
					%}
				</div>
			</div>
			<div class="footer-col col-span-6 lg:hidden">
				<p class="text-sm text-white text-opacity-50">&copy; {{ site.time | date: "%Y"}} «Металлвсамаре»</p>
			</div>
		</div>
	</div>
</footer>

<!-- overlay -->
<div
class="overflow-y-auto"
style="background-color: rgba(0,0,0,0.8)"
x-show="$store.state.isModalOpen"
:class="{ 'fixed w-full h-full inset-0 z-50 flex items-start justify-center': $store.state.isModalOpen }"
>
	<!-- dialog -->
	<div
	class="max-w-[450px] w-full bg-white shadow-2xl m-4 my-12 sm:m-8 px-5 p-4 sm:py-8 relative z-50"
	x-show="$store.state.isModalOpen"
	@click.away="$store.state.isModalOpen = false"
	>
	<button class="absolute top-1 right-1 text-xl p-1 px-3" @click="$store.state.isModalOpen = false;">&times;</button>
	<h3 class="text-2xl text-center mb-2" x-ref="modalTitle"></h3>
	<p class="text-center mb-6">Оставьте свои данные и&nbsp;мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время</p>

	<form>
		<input type="email" tabindex="-1" name="email" placeholder="mail@example.com" class="h-0 opacity-0 absolute">
		<div class="form-group mb-5">
			<input type="text" class="text-base px-5 py-3 border border-gray-300 block rounded-0 outline-none w-full duration-300 placeholder-gray-600::placeholder focus:border-deep" name="name" placeholder="Ваше имя">
		</div>
		<div class="form-group required-field mb-5" id="phone">
			<input type="text" class="text-base px-5 py-3 border border-gray-300 block rounded-0 outline-none w-full duration-300 placeholder-gray-600::placeholder focus:border-deep" name="phone" placeholder="Ваш телефон">
			<small class="block text-left text-xs text-accent mt-1 font-normal hidden">Поле обязательно для заполнения</small>
		</div>
		<input type="checkbox" name="subscribe" value="1" class="h-0 opacity-0 absolute">
		{% include components/agree.html borderClass="border-black before:bg-black flex-shrink-0" %}
		<button class="btn btn-accent w-full md:w-[32%] lg:w-full mt-5">Отправить</button>
	</form>

	</div><!-- /dialog -->
</div><!-- /overlay -->

<!-- overlay -->
	<div
		class="overflow-y-auto"
		id="response_modal"
		style="background-color: rgba(0,0,0,0.8)"
		x-show="$store.state.isResponseModalOpen"
		:class="{ 'fixed inset-0 z-50 flex items-start justify-center': $store.state.isResponseModalOpen }"
	>
	<!-- dialog -->
		<div
			class="max-w-[450px] w-full bg-white shadow-2xl m-4 my-12 sm:m-8 px-5 p-4 sm:py-8 relative z-50"
			x-show="$store.state.isResponseModalOpen"
			@click.away="$store.state.isResponseModalOpen = false"
		>
			<button class="absolute top-1 right-1 text-xl p-1 px-3" @click="$store.state.isResponseModalOpen = false;">&times;</button>
			<h3 class="text-2xl text-center mb-5"></h3>

			<div class="content text-center">
				<p></p>
			</div>


		</div><!-- /dialog -->
	</div><!-- /overlay -->
