<footer class="site-footer bg-black py-16 text-white font-light text-opacity-90">
	<div class="container">
		<div class="grid grid-cols-3">
			<div class="footer-col text-sm">
				{% include components/header/logo.html %}
				<p class="mt-3 text-sm">Надежные металлические конструкции</p>
				<p class="mt-5">&copy; {{ site.time | date: "%Y"}} «Металлвсамаре»</p>
			</div>
			<div class="footer-col">
				<h3 class="text-lg uppercase mb-5">Разделы сайта</h3>
				<ul>
					{% if page.url != '/' %}
					<li>
						<a class="inline-block leading-tight transition-all duration-200 mb-3 hover:underline" href="{{site.baseurl}}/">Главная</a>
					</li>
					{% endif %}
					{% assign categories = site.work-categories | sort: "index" %}
					{% for link in categories %}
					<li>
						<a class="inline-block leading-tight transition-all duration-200 mb-3 hover:underline {% if page.url == link.url %}underline{% endif %}" href="{{site.baseurl}}{{link.url}}">{{link.title}}</a>
					</li>
					{% endfor %}
					<li>
						<a class="inline-block leading-tight transition-all duration-200 hover:underline {% if page.url == link.url %}underline{% endif %}" href="{{site.baseurl}}#">Политика конфиденциальности</a>
					</li>
				</ul>
			</div>
			<div class="footer-col">
				<h3 class="text-lg uppercase mb-5">Контакты</h3>
				<div class="mb-5">
					{% for phone in site.phones %}
					{% include 
					components/phone-link.html 
					classes="sm:text-lg mb-2" 
					classesIcon="w-5 h-auto fill-[#fff]" 
					phone=phone 
					%}
					{% endfor %}
				</div>
				<div class="mb-5">
					{% include 
					components/email-link.html 
					classes="sm:text-lg mb-2" 
					classesIcon="w-5 h-auto fill-[#fff]" 
					email=site.email
					%}
				</div>
				<div>
					{% include 
					components/address.html 
					classes="" 
					classesIcon="w-5 h-auto fill-[#fff]" 
					address=site.address
					%}
				</div>
			</div>
		</div>
	</div>
</footer>
