{% assign borderClass = include.borderClass %}
<div class="form-group required-field col-span-3" id="agree">
	<label class="custom-checkbox">
		<input type="checkbox" name="agree" class="group">
		<span class="flex">
			<span class="fake-checkbox {{borderClass}}"></span>
			<span>
				Согласен на <a href="{{site.baseUrl}}/policy/" class="underline transition-all font-light duration-700 hover:no-underline" target="_blank">обработку персональных данных</a>
			</span>
		</span>
	</label>
	<small class="block text-left text-xs text-accent mt-1 hidden">Чтобы продолжить установите флажок</small>
</div>