---
layout: default
---
<div itemscope itemtype="http://schema.org/Article">
{% assign curworks = '' | split: '' %}
{% for element in site.data.works %}
	{% if element.categories contains page.catId %}
		{% assign curworks = curworks | push: element %}
	{% endif %}
{% endfor %}
{% assign first = curworks | first %}
{% assign catUrl = first.categories | split: ',' | first %}
{% assign photo = 'img/' | append: catUrl | append: '/' | append: first.uid | append: '/' | append: first.photo %}
{% include
sections/banner.html
title=page.h1
subtitle=page.subtitle
img=photo
h1=true
breadcrumbs=true
%}
<img itemprop="image" src="{{site.url}}/{{photo}}" class="hidden" />
<section class="pt-20 content">
	<div class="container">
		<article itemprop="articleBody">{{ content }}</article>
	</div>
</section>
{% include sections/works.html container=true data=curworks limit=1000 %}
{% include sections/callback-block.html %}
</div>
