<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'ru' }}">
{%- include head.html -%}

<body
class="relative"
x-data
@keydown.escape="$store.state.isModalOpen = false"
:class="{'overflow-hidden md:pr-[17px]': $store.state.isModalOpen || $store.state.isResponseModalOpen}"
>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4VM4ZN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

	{%- include header.html -%}

	<main>
		{{ content }}
	</main>

	{%- include footer.html -%}

	<script src="{{ './assets/js/app.js' | relative_url }}"></script>

</body>

</html>
