---
layout: default
---
{% assign dir = page.categories | split: ',' %}
{% assign imgDir = 'img/' | append: dir[0] | append: '/' | append: page.uid | append: '/' %}
{% assign photo = imgDir | append: page.photo %}
{% include sections/banner.html title=page.title img=photo h1=true breadcrumbs=true %}
{% assign photos = page.photos | split: ',' %}
{% if photos %}
<section class="pt-20 galary">
	<div class="container">
		<div class="galary-slider swiper">
			<div class="swiper-wrapper pb-12">
				{% for photo in photos %}
				{% assign img = imgDir | append: photo %}
				<div class="galary-slide swiper-slide">
					<img data-src="{{img | relative_url }}" class="swiper-lazy" />
					<div class="swiper-lazy-preloader"></div>
				</div>		
				{% endfor %}
			</div>	
			<div class="swiper-pagination"></div>
		</div>
	</div>
</section>
{% endif %}
{% if content %}
<section class="py-10 content">
	<div class="container">
		{{ content }}		
	</div>
</section>
{% endif %}
{% include sections/callback-block.html classes="mb-10" %}