---
layout: default
---
<div itemscope itemtype="http://schema.org/Article">
{% assign catUrl = page.categories | split: ',' | first %}
{% assign imgDir = 'img/' | append: catUrl | append: '/' | append: page.uid | append: '/' %}
{% assign photo = imgDir | append: page.photo %}
{% include sections/banner.html title=page.short_title img=photo h1=true breadcrumbs=true %}
<time itemprop="datePublished" datetime="{{page.date}}"></time>
<img itemprop="image" src="{{site.url}}/{{photo}}" class="hidden" />
{% assign photos = page.photos | split: ',' %}
{% assign photosSize = photos | size %}
{% if photosSize > 0 %}
<section class="pt-20 galary">
	<div class="container">
		<div class="galary-slider swiper">
			<div class="swiper-wrapper pb-12">
				{% for photo in photos %}
				{% assign img = imgDir | append: photo %}
				<div class="galary-slide swiper-slide h-full">
					<a data-fslightbox href="{{img | relative_url}}">
						<img data-src="{{img | relative_url}}" class="swiper-lazy" />
					</a>
					<div class="swiper-lazy-preloader"></div>
				</div>
				{% endfor %}
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</section>
{% endif %}
{% assign contentSize = content | size %}
{% if contentSize > 0 %}
<section class="py-10 content">
	<div class="container">
		<article itemprop="articleBody">
		{{ content }}
		</article>
	</div>
</section>
{% endif %}
{% include sections/callback-block.html %}
</div>
