@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    font-family: Roboto, sans-serif;
  }
  h1, h2, h3, h4, h5, h6, .logo span{
  	font-family: 'Roboto Condensed', sans-serif;
  }
}

body{
	@apply text-deep;
}

[x-cloak] { display: none !important; }

.btn{
	@apply px-8 py-3 rounded-sm font-medium uppercase transition-all duration-300 bg-opacity-100 hover:bg-opacity-90;
	&.btn-accent{
		@apply bg-accent text-white hover:bg-opacity-90;
	}
}