@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Roboto, sans-serif;
  }
  h1, h2, h3, h4, h5, h6, .logo span{
  	font-family: 'Roboto Condensed', sans-serif;
  }
}

body{
	@apply text-deep;
}

[x-cloak] { display: none !important; }

.btn{
	@apply px-8 py-3 rounded-sm border font-medium uppercase transition-all duration-300 bg-opacity-100 hover:bg-opacity-90;
	&.btn-accent{
		@apply bg-accent text-white hover:bg-opacity-90 border-accent;
	}
}

.content{
	p{
		@apply mb-5;
	}
}

.galary{
	.swiper-pagination-bullet{
		@apply border border-accent;
	}
}

.custom-checkbox{
	@apply font-light;
	.fake-checkbox{
		@apply cursor-pointer w-4 h-4 border relative top-0.5 left-0.5 mr-2 before:content-[''] before:w-[10px] before:h-[10px] before:absolute before:left-0.5 before:top-0.5 before:transition-all before:duration-200 before:opacity-0;
	}
	input{
		width: 0;
		height: 0;
		position: absolute;
		opacity: 0;
		&:checked~span > .fake-checkbox{
			@apply before:opacity-100;
		}
	}
}